#p1::before {
    content:"przed elementem";
    color: red;
}

#p2::after {
content:"za elementem";
color:green;
}

#p3::first-letter {
    color:aqua
    
}

#p4::selection {
    background-color: yellow;
}

#p7::first-line {
background-color: blue
}


