#tlo-obrazek {
    width: 500px;
    height: 700px;
    background-image: url("../img/obrazek.jpg");
    background-repeat:no-repeat;
    background-position:top center;
    background-attachment:fixed;
    background-size:cover;
}