.box {
    width:300px;
    height:150px;
    border:1px solid red;
    margin:50px;
}

#visible {
    color:green;
    overflow:hidden;
}
#hidden {color:orange;
overflow:hidden;}

#scroll {color:blue;
overflow:scroll;}

#auto {color:yellow;
overflow:auto}