div[suma] {
    background-color: aqua
}

div[suma="1500"] {
    background-color: blue
}
div[detaliczny~="tak"] {
    background-color: red
}
div[detaliczny*="tak"] {
    background-color: saddlebrown
}

div[suma^="25"], div[suma^="15"] {
color:yellow;
}

div[suma$="00"] {
    color:#fff;
}