.box {
    width: 150px;
    height: 150px;
    margin: 20px;
}

#colors {
    background-color: yellow;
    transition: background-color 3s linear 2s;
}

}

#colors:hover {
    background-color: green;
}

#box1 {
    background-color: red;
    transition: width 3s ease-out;
}

#colors:hover {
    background-color: green;
}

#box1 {
    background-color: red;
    transition: width 3s ease-out;
}

#box1:hover {
    width: 300px
}

#box2 {
    background-color: green;
    transition: height 1s linear;
}

#box2:hover {
    height: 300px;
}

#box3 {
    background-color: aqua;
    transition: width 2s ease-out, height 2s ease-out;
}

#box3:hover {
    width:400px;
    height:400px;
}